Lec03-XML-Schema/02-XSD-DataTypes/employee.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="employee">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:integer" />
                <xsd:element name="name" type="xsd:string" />
                <xsd:element name="salary" type="xsd:decimal" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>